/* Write your CSS here */
img {
  width: 100%;
}
li {
  list-style-type: none;
  width: 45%;
  padding: 0px;
  margin-right: 25px;
}
.event-btn {
  padding: 0px;
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
.active-event {
  border: 2px solid #2dd4bf;
}
